@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 250px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene {
    position: relative;
    margin-bottom: 16px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/buffetcrush-christmas-wallpaper-2009590_1920.jpg);
        background-size: cover;
        filter: brightness(0.4);
        }

        * {
            // Positionner les éléments devant le ::before
            position: relative;
        }
}

.hero-scene-content {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn-hero-reserver {
    margin-top: 16px;
}

.text-justify {
    text-align: justify;
}

.image-card {
    position: relative;
    &:hover {
        .titre-image, .image-action-buttons {
            opacity: 1;
        }
        img {
            filter: brightness(0.3);
        }
    }
    
    img {
        transition: all 0.6s;
    }

    .titre-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.6s;
    }

    .image-action-buttons {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 6px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.6s;
    }
}

.form-label {
    color: $primary;
}

.allreservations {
    .bookLink {
        display: block;
        color: $black;
        padding: 10px;
    }

    .bookLine {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}



/*****    ************ Media queries ************    *****/

@media screen and (max-width: 600px) {
    .hero-scene .hero-scene-content {
        height: 150px;
    }    
}

@media screen and (min-width: 601px) and (max-width: 991px) {
    .hero-scene .hero-scene-content {
        height: 250px;
    }    
}

@media screen and (max-width: 455px) {
    .bookLine {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .hideUnderMd {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .hideOverMd {
        display: none;
    }
}